body{
        background: url('img.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
       
}

 .dashboard-box {
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        padding: 30px;
        margin: 40px auto;
        max-width: 500px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        color: #fff;
        font-size: 30px;
      }
      strong{
        color: #110132;
        font-size: 20px;
      }
      .dashboard-box h2 {
        color: #110132;
        margin-bottom: 20px;
      }
      .dashboard-box ul {
        list-style: none;
        padding: 0;
      }
      .dashboard-box li {
        margin-bottom: 10px;
        font-size: 17px;
      }
      .logout-btn {
        background: #fff;
        color: black;
        font-weight: bold;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 20px;
      }
      .logout-btn:hover {
        background: #110132;
        color: #fff;
      }